<h3><%= @job.title %></h3>
<h5>
  <%= @job.organization_name %>
  <i><%= @job.start_date.strftime('%Y') %> - <% if @job.end_date %><%= @job.end_date.strftime('%Y') %><% else %>Present<% end %></i>
  <br/>
  <%= markdown(@job.description) %>
</h5>