<li <% if @job_counter % 2 == 1 %>class='timeline-inverted'<% end %>>

  <div class='timeline-image'>
      <%= image_tag @job.image.url(:medium), :class => 'img-circle img-responsive' %>
  </div>

  <div class='timeline-panel'>
    <div class='timeline-heading'>
        <h3 style='margin: 0px;'><%= @job.title %></h3>
        <h4 style='margin: 0px;'>
          <%= @job.organization_name %>
        </h4>
        <h5 style='margin: 0px;'>
          <%= @job.start_date.strftime('%Y') %> - <% if @job.end_date %><%= @job.end_date.strftime('%Y') %><% else %>Present<% end %>
        </h5>
    </div>

    <div class='timeline-body'>
        <div>
          <%= markdown(@job.description) %>
        </div>

        <% if current_user %>
          <%= link_to edit_job_path(@job) do %>
            <i class='glyphicon glyphicon-pencil'></i>
          <% end %>
        <% end %>
    </div>
  </div>
</li>