<% if params[:action] == 'show' %>
  <div class='page-header' style='border-bottom: none;'>
      <h1 class='post_title'><%= @post.title %></h1>
      <div class='author'>
        <span class='by'>by </span>
        <% name = @post.profile.first_name + ' ' + @post.profile.last_name %>
        <%= link_to name.upcase, @post.profile %>
      </div>
  </div>

  <% if @post.image.exists? %><div><%= image_tag @post.image.url(:large), class: 'img-responsive img-rounded' %></div><% end %>

<% else %>
  <h1 class='post_title' style='font-size: 38px; margin: 10px;'><%= link_to @post.title, @post %></h1>
  <div class='author'>
    <span class='by'>by </span>
    <% name = @post.profile.first_name + ' ' + @post.profile.last_name %>
    <%= link_to name.upcase, @post.profile %>
  </div>

   <% if @post.image.exists? %><div class='col-xs-6 post_image'><%= image_tag @post.image.url(:large), class: 'img-responsive img-rounded' %></div><% end %>

<% end %>

<div class='post_content'>
  <%= markdown(@post.content) %>
</div>

<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>