%p#notice
  = notice

%section.section-text
  .container
    .row
      .col-xs-12.text-center
        %h1
          = @profile.first_name
          = @profile.last_name

        %h4
          %div
            = icon('mobile')
            = "#{@profile.phone[0..2]}.#{@profile.phone[3..5]}.#{@profile.phone[6..9]}"
          %div
            = icon('envelope-o')
            = @profile.email
          %div
            = icon('map-marker')
            = "#{@profile.city}, #{@profile.state}"

%section.text-section
  .container
    %h1 Technical Skills
    .row
      .col-md-12
        - skillkind_id = nil
        - @skills.each do |skill|
          - if skill.skillkind_id != skillkind_id
            %h3= skill.skillkind.name

          %div
            %b= skill.name
            = " - #{skill.description}"

          - skillkind_id = skill.skillkind_id

%section.text-section
  .container
    %h1 Work Experience
    .row
      .col-md-12
        - @jobs.each_with_index do |job,i|
          %h3
            = job.title
            •
            = job.organization_name
            •
            = "#{job.start_date.strftime('%Y')} - #{if job.end_date; job.end_date.strftime('%Y'); else; 'Present'; end}"
          = markdown(job.description)

%section.text-section
  .container
    %h1 Education
    .row
      .col-md-12
        - @schools.each do |school|
          %h3
            = school.name
          = school.degree